<h1>Contacto</h1>

<div class="form-main">
    <form action="" class="form" id="form">

        <!-- grupo: name -->
        <div class="form__group" id="group__name">
            <label for="name" class="form__label">Nombre:</label>
            <div class="form__group-input">
                <input type="text" class="form__input" name="name" id="name" placeholder="John" autofocus>
            </div>
            <p class="form__input-error">Diligencia bien el formulario</p>
        </div>

        <div class="form__group" id="group__lastName">
            <label for="lastName" class="form__label">Apellido:</label>
            <div class="form__group-input">
                <input type="text" class="form__input" name="lastName" id="lastName" placeholder="Moreno">
            </div>
            <p class="form__input-error">Diligencia bien el formulario</p>
        </div>

        <div class="form__group" id="group__email">
            <label for="email" class="form__label">Correo:</label>
            <div class="form__group-input">
                <input type="email" class="form__input" name="email" id="email">
            </div>
            <p class="form__input-error">Diligencia bien el formulario</p>
        </div>

        <div class="form__group" id="group__apellido">
            <label for="apellido" class="form__label">Comentarios:</label>
            <div class="form__group-input">
                <input type="email" class="form__input" name="apellido" id="apellido" >
            </div>
            <p class="form__input-error">Diligencia bien el formulario</p>
        </div>
        <div class="form__group form__group-btn-enviar">
            <button type="submit" class="form__btn__nosotros">Enviar</button>
        </div> 
    </form>
</div>