<h1>Nosotros</h1>

<section id="about">
    <div class="tile tile-1">
      <div>
        <h2>Juguenes</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus
          tempore accusantium voluptates corrupti facere culpa necessitatibus,
        </p>
        <img src="../img/productos/card2.jpg" alt="" width="200" />
      </div>
    </div>
    <div class="tile tile-2">
      <div>
        <h2>Nosotros</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus
          tempore accusantium voluptates corrupti facere culpa necessitatibus,
        </p>
        <img src="../img/logo/cosmico.png" alt="" width="60" height="60" />
      </div>
    </div>
    <div class="tile tile-3">
      <div>
        <h2>Logros</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus
          tempore accusantium voluptates corrupti facere culpa necessitatibus,
        </p>
        <img src="../img/productos/trophy-gc03571c4c_640.png" alt="" width="100" />
      </div>
    </div>
    <div class="tile tile-4">
      <div>
        <h2>Servicios</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus
          tempore accusantium voluptates corrupti facere culpa necessitatibus,
        </p>
        <img src="img/cloud.png" alt="" width="300" />
      </div>
    </div>
    <div class="tile tile-5">
      <div>
        <h2>¿Cómo nos ven?</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus
          tempore accusantium voluptates corrupti facere culpa necessitatibus,
          nihil rem sequi deleniti quod repudiandae ratione nemo veniam sint,
          dignissimos a repellendus nisi.
        </p>
        <img src="img/trophy.png" alt="" />
      </div>
    </div>
  </section>
